doctype html
html
  head
    title 后台管理系统
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      header
        h1
          img(src='/images/pic_logo_shouye.png')
        div 官网后台管理  
      form(action="" method="")
        div.form-group 
          label 用户名
          input(type='text',name='user')
        div.form-group
          label 密码
          input(type='password',name='password') 
        button 登录
